@import url('https://fonts.googleapis.com/css?family=Ibarra+Real+Nova|Open+Sans|Quicksand|Raleway|Source+Sans+Pro&display=swap');

.container {background: rgb(38,121,213);
  background: linear-gradient(90deg, rgba(38,121,213,1) 0%, rgba(69,239,252,1) 100%, rgba(253,29,29,1) 100%);

  font-family: Quicksand;
}
#nav {
  height:auto;
  background-color: white;
}