@import url("https://fonts.googleapis.com/css?family=Ibarra+Real+Nova|Open+Sans|Quicksand|Raleway|Source+Sans+Pro&display=swap");

body {
  background-color: #1f5ac0fa;
  background-image: url("https://www.transparenttextures.com/patterns/food.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
  font-family: Quicksand;
  font-size: medium;
}

.nav :hover {
  border-radius: 0px;
}
.row .edit {
  align-content: left;
}
.row .delete {
  align-content: right;
}
.navbar {
  background-image: linear-gradient(to top, #accbee9f 0%, #f2f8ff67 100%);

  font-size: large;
  font-weight: 500;
  /* //opacity: 90% !important; */
}

.jumbotron {
  background: none;
  padding-bottom: 5px;
}

footer {
  background-image: linear-gradient(to top, #accbeed7 0%, #ffffffa9 100%);
  overflow-x: hidden;
  padding: 14vmin 18vmin;
  /* opacity: 90% !important; */
}

footer p span {
  color: #ff512f;
}

footer input {
  border: none !important;
}

footer .input-group .input-group-text {
  background: linear-gradient(to bottom, #dd2476, #ff512f);
  border: none;
}

footer .column i {
  color: #dd2476;
}

footer .column i + i {
  padding: 0 0.5em;
}

nav .nav-item {
  cursor: pointer;
}

.card {
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(124, 124, 124, 0.2),
    0 6px 20px 0 rgba(160, 160, 160, 0.19);
  /* opacity: 93% !important; */
  background: #ffffff9f;
}

.card:hover {
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /*opacity: 100%;*/
}

.lined-heading {
  position: relative;
  text-align: center;
  display: block;
  float: left;
  width: 100%;
  line-height: 35px;
  color: rgba(255, 255, 255, 0.849);
}
